*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    --background-blue: #3A5BC7;
    --background-red: #D13415;
    --background-white: #fdf1f1;
    --text-color: #191919;
    --decoration-brown: #D2C7AE;

}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(img/img-noise-2000x200-red.png);
}



.bold{
    font-weight: bold;
}

.maj{
    text-transform: uppercase;
}

div{
    margin-inline: auto;
    background-image: url(img/img-noise-2000x728-white.png);
    padding: 15px;
    max-width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;

}

a{
    color: var(--background-blue);
}

h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
}

.nb{
    font-weight: bold;
    color: var(--background-red);
}


.return{
    color: var(--text-color);
    border-radius: 50px;
    padding: 15px;
    font-weight: bold;
}