*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --background-blue: #3A5BC7;
    --background-red: #D13415;
    --background-white: #fdf1f1;
    --text-color: #191919;
    --decoration-brown: #D2C7AE;

}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.container {
    text-align: center;
    position: relative;
    height: 100vh;
}

.container h1 {
    font-size: 5rem;
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
    margin: 0;
}

.shapes {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.circle {
    width: 120px;
    height: 120px;
    background-color: var(--background-blue);
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: -600px;
}

.triangle {
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 80px solid transparent;
    border-bottom: 150px solid var(--decoration-brown);
    border-left: 70px solid transparent;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: -600px;

}

.rectangle {
    width: 70px;
    height: 30px;
    background-color: var(--background-red);
    position: absolute;
    left: -30px;
    transform: rotate(45deg);
}


.hand-image {
    width: 500px;
    position: absolute;
    top: 20px;
    right: 10px;
}

.arrow {
    font-size: 2em;
    color: black;
    bottom: 0;
    margin-bottom: 50px;
}



.definition {
    height: 80vh;
    background-image: url(img/img-noise-2000x728-white.png);
    border: var(--text-color) solid 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding-inline: 50px;
}

.img-def img{
    max-width: 500px;
}

.txt-def{
    max-width: 800px;
}

.txt-def h2{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.txt-def p{
    font-size: 1.2rem;
}


.txt-def ol {
    list-style: none; 
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: 50px;
  }

  .txt-def ol li{
    counter-increment: list-item;
    margin-bottom: 30px;
    padding-left: 3em; 
    position: relative;
    display: flex;
    align-items: center;

  }

  .txt-def ol li::before {
    content: counter(list-item);
    background-color: var(--background-blue);
    color: var(--decoration-brown); 
    border-radius: 50%; 
    width: 2em;
    height: 2em; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
    position: absolute; 
    left: 0; 
  }



.electionrate {
    height: 80vh;
    background-color: var(--background-white);
}


.regionalrates {
    background-image: url(img/noise2000x728.png);

}

.today {
    height: fit-content;
    background-image: url(img/img-noise-2000x728-white.png);
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.txt-today h2{
    font-size: 2rem;
    text-transform: uppercase;
}

.txt-today{
    flex-direction: column;
    gap: 20px;
    max-width: 1024px;
}

.txt-today p{
    font-size: 1.2rem;
}

.img-today img{
    width: 400px;
}

.img-today{
    margin-bottom: -4px;
}


h2{
    margin: 0;
}


footer {
    background-image: url(img/img-noise-2000x200-red.png);
    height: 20vh;
}


.danger{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

.home-danger{
    background-color: var(--background-red);
    color: #fdf1f1;
}

.ml{
    background-color: var(--background-blue);
    color: #fdf1f1;
    border-radius: 50px;
    padding: 15px;
}


.src{
    background-color: var(--background-red);
    color: #fdf1f1;
    border-radius: 50px;
    padding: 15px;
}


#map {
    height: 600px;
    max-width:1000px;
  }